#### import libraries

In [1]:
import pandas as pd 
import numpy as np

##### Difference betwen nominal and ordinal

<img src="https://raw.githubusercontent.com/msjahid/Machine-Learning-Glossary/main/images/nominal%20%26%20ordinal.png">

<img src="https://raw.githubusercontent.com/msjahid/Machine-Learning-Glossary/main/images/encoding.png">

#### Read excel data

In [2]:
df = pd.read_excel('/Dataset/district-wise-confirmed.2020.xlsx')

In [3]:
df.head()

,Division,Confirmed_cases \nUpto 05 April,Confirmed_cases \nUpto 06 April,Confirmed_cases \nUpto 07 April,Confirmed_cases Upto 08 April,Confirmed_cases Upto 09 April,Confirmed_cases Upto 11 April,Confirmed_cases Upto 13 April,Confirmed_cases Upto 14 April,Confirmed_cases Upto 15 April,...,Confirmed_cases Upto 08 May,Confirmed_cases Upto 09 May,Confirmed_cases Upto 10 May,Confirmed_cases Upto 11 May,Confirmed_cases Upto 12 May,Confirmed_cases Upto 14 May,Confirmed_cases Upto 15 May,Confirmed_cases Upto 16 May,Confirmed_cases Upto 17 May,Confirmed_cases Upto 19 May
0,Dhaka,54,64,90,129,209,270,401,484,546,...,6365,6629,6868,7509,7922,8490,8845,9190,9855,10878
1,Chittagong,1,1,3,3,9,8,18,20,31,...,159,207,220,266,314,497,553,619,695,940
2,Dhaka,11,23,38,46,59,83,144,164,214,...,1136,1177,1198,1243,1286,1345,1391,1426,1463,1508
3,Rajshahi,0,0,0,0,0,0,0,0,0,...,18,18,18,18,18,29,29,29,45,56
4,Chittagong,1,1,2,2,4,8,9,14,14,...,150,169,171,182,186,225,259,278,298,371

##### Division types is object

In [4]:
df.dtypes

Division                            object
Confirmed_cases \nUpto 05 April      int64
Confirmed_cases \nUpto 06 April      int64
Confirmed_cases \nUpto 07 April      int64
Confirmed_cases Upto 08 April        int64
Confirmed_cases Upto 09 April        int64
Confirmed_cases Upto 11 April        int64
Confirmed_cases Upto 13 April        int64
Confirmed_cases Upto 14 April        int64
Confirmed_cases Upto 15 April        int64
Confirmed_cases Upto 16 April        int64
Confirmed_cases Upto 17 April        int64
Confirmed_cases Upto 18 April        int64
Confirmed_cases Upto 19 April        int64
Confirmed_cases Upto 20 April        int64
Confirmed_cases Upto 21 April        int64
Confirmed_cases Upto 22 April        int64
Confirmed_cases Upto 23 April      float64
Recovered_cases\nUpto 23 April       int64
Confirmed_cases Upto 24 April        int64
Confirmed_cases Upto 25 April        int64
Confirmed_cases Upto 26 April        int64
Recovered_cases\nUpto 26 April       int64
Confirmed_cases Upto 27 April        int64
Death_cases\nUpto 27 April           int64
Recovered_cases\nUpto 27 April       int64
Confirmed_cases Upto 28 April        int64
Death_cases\nUpto 28 April           int64
Recovered_cases\nUpto 28 April       int64
Confirmed_cases Upto 29 April        int64
Death_cases\nUpto 29 April           int64
Confirmed_cases Upto 30 April        int64
Death_cases\nUpto 30 April           int64
Confirmed_cases Upto 01 May          int64
Death_cases\nUpto 01 May             int64
Confirmed_cases Upto 02 May          int64
Death_cases\nUpto 02 May             int64
Confirmed_cases Upto 03 May          int64
Death_cases\nUpto 03 May             int64
Confirmed_cases Upto 04 May          int64
Death_cases\nUpto 04 May             int64
Confirmed_cases Upto 05 May          int64
Death_cases\nUpto 05 May             int64
Confirmed_cases Upto 06 May          int64
Death_cases\nUpto 06 May             int64
Confirmed_cases Upto 07 May          int64
Confirmed_cases Upto 08 May          int64
Confirmed_cases Upto 09 May          int64
Confirmed_cases Upto 10 May          int64
Confirmed_cases Upto 11 May          int64
Confirmed_cases Upto 12 May          int64
Confirmed_cases Upto 14 May          int64
Confirmed_cases Upto 15 May          int64
Confirmed_cases Upto 16 May          int64
Confirmed_cases Upto 17 May          int64
Confirmed_cases Upto 19 May          int64
dtype: object

### Label Encoding using Python

In [5]:
# df['Division'].nunique()
df['Division'].unique()

array(['Dhaka', 'Chittagong', 'Rajshahi', 'Sylhet', 'Khulna',
       'Mymensingh', 'Barisal', 'Rangpur'], dtype=object)

##### "Division" need to convert object to a category type with the help of pandas

In [6]:
df['Division'] = df['Division'].astype('category')
df.dtypes

Division                           category
Confirmed_cases \nUpto 05 April       int64
Confirmed_cases \nUpto 06 April       int64
Confirmed_cases \nUpto 07 April       int64
Confirmed_cases Upto 08 April         int64
Confirmed_cases Upto 09 April         int64
Confirmed_cases Upto 11 April         int64
Confirmed_cases Upto 13 April         int64
Confirmed_cases Upto 14 April         int64
Confirmed_cases Upto 15 April         int64
Confirmed_cases Upto 16 April         int64
Confirmed_cases Upto 17 April         int64
Confirmed_cases Upto 18 April         int64
Confirmed_cases Upto 19 April         int64
Confirmed_cases Upto 20 April         int64
Confirmed_cases Upto 21 April         int64
Confirmed_cases Upto 22 April         int64
Confirmed_cases Upto 23 April       float64
Recovered_cases\nUpto 23 April        int64
Confirmed_cases Upto 24 April         int64
Confirmed_cases Upto 25 April         int64
Confirmed_cases Upto 26 April         int64
Recovered_cases\nUpto 26 April        int64
Confirmed_cases Upto 27 April         int64
Death_cases\nUpto 27 April            int64
Recovered_cases\nUpto 27 April        int64
Confirmed_cases Upto 28 April         int64
Death_cases\nUpto 28 April            int64
Recovered_cases\nUpto 28 April        int64
Confirmed_cases Upto 29 April         int64
Death_cases\nUpto 29 April            int64
Confirmed_cases Upto 30 April         int64
Death_cases\nUpto 30 April            int64
Confirmed_cases Upto 01 May           int64
Death_cases\nUpto 01 May              int64
Confirmed_cases Upto 02 May           int64
Death_cases\nUpto 02 May              int64
Confirmed_cases Upto 03 May           int64
Death_cases\nUpto 03 May              int64
Confirmed_cases Upto 04 May           int64
Death_cases\nUpto 04 May              int64
Confirmed_cases Upto 05 May           int64
Death_cases\nUpto 05 May              int64
Confirmed_cases Upto 06 May           int64
Death_cases\nUpto 06 May              int64
Confirmed_cases Upto 07 May           int64
Confirmed_cases Upto 08 May           int64
Confirmed_cases Upto 09 May           int64
Confirmed_cases Upto 10 May           int64
Confirmed_cases Upto 11 May           int64
Confirmed_cases Upto 12 May           int64
Confirmed_cases Upto 14 May           int64
Confirmed_cases Upto 15 May           int64
Confirmed_cases Upto 16 May           int64
Confirmed_cases Upto 17 May           int64
Confirmed_cases Upto 19 May           int64
dtype: object

##### access the codes of the categories

In [7]:
df['Division'] = df['Division'].cat.codes
df

,Division,Confirmed_cases \nUpto 05 April,Confirmed_cases \nUpto 06 April,Confirmed_cases \nUpto 07 April,Confirmed_cases Upto 08 April,Confirmed_cases Upto 09 April,Confirmed_cases Upto 11 April,Confirmed_cases Upto 13 April,Confirmed_cases Upto 14 April,Confirmed_cases Upto 15 April,...,Confirmed_cases Upto 08 May,Confirmed_cases Upto 09 May,Confirmed_cases Upto 10 May,Confirmed_cases Upto 11 May,Confirmed_cases Upto 12 May,Confirmed_cases Upto 14 May,Confirmed_cases Upto 15 May,Confirmed_cases Upto 16 May,Confirmed_cases Upto 17 May,Confirmed_cases Upto 19 May
0,2,54,64,90,129,209,270,401,484,546,...,6365,6629,6868,7509,7922,8490,8845,9190,9855,10878
1,1,1,1,3,3,9,8,18,20,31,...,159,207,220,266,314,497,553,619,695,940
2,2,11,23,38,46,59,83,144,164,214,...,1136,1177,1198,1243,1286,1345,1391,1426,1463,1508
3,5,0,0,0,0,0,0,0,0,0,...,18,18,18,18,18,29,29,29,45,56
4,1,1,1,2,2,4,8,9,14,14,...,150,169,171,182,186,225,259,278,298,371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,6,0,0,0,0,0,0,3,3,3,...,23,23,23,23,24,24,24,27,27,29
60,6,0,0,0,0,0,0,0,1,2,...,33,34,35,35,36,39,41,42,54,58
61,6,0,0,0,0,0,0,0,0,0,...,10,10,10,10,10,11,11,15,15,20
62,7,0,0,1,1,1,1,1,2,2,...,30,30,33,36,36,37,37,37,39,39
63,6,0,0,0,0,0,0,1,1,2,...,13,13,13,13,15,15,17,22,23,25

In [8]:
df['Division'].unique()

array([2, 1, 5, 7, 3, 4, 0, 6], dtype=int8)

### Label Encoding in scikit-learn

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

#### Read data onces more

In [10]:
data = pd.read_excel('/Dataset/district-wise-confirmed.2020.xlsx')

In [11]:
data["Division"] = le.fit_transform(data["Division"])
data

,Division,Confirmed_cases \nUpto 05 April,Confirmed_cases \nUpto 06 April,Confirmed_cases \nUpto 07 April,Confirmed_cases Upto 08 April,Confirmed_cases Upto 09 April,Confirmed_cases Upto 11 April,Confirmed_cases Upto 13 April,Confirmed_cases Upto 14 April,Confirmed_cases Upto 15 April,...,Confirmed_cases Upto 08 May,Confirmed_cases Upto 09 May,Confirmed_cases Upto 10 May,Confirmed_cases Upto 11 May,Confirmed_cases Upto 12 May,Confirmed_cases Upto 14 May,Confirmed_cases Upto 15 May,Confirmed_cases Upto 16 May,Confirmed_cases Upto 17 May,Confirmed_cases Upto 19 May
0,2,54,64,90,129,209,270,401,484,546,...,6365,6629,6868,7509,7922,8490,8845,9190,9855,10878
1,1,1,1,3,3,9,8,18,20,31,...,159,207,220,266,314,497,553,619,695,940
2,2,11,23,38,46,59,83,144,164,214,...,1136,1177,1198,1243,1286,1345,1391,1426,1463,1508
3,5,0,0,0,0,0,0,0,0,0,...,18,18,18,18,18,29,29,29,45,56
4,1,1,1,2,2,4,8,9,14,14,...,150,169,171,182,186,225,259,278,298,371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,6,0,0,0,0,0,0,3,3,3,...,23,23,23,23,24,24,24,27,27,29
60,6,0,0,0,0,0,0,0,1,2,...,33,34,35,35,36,39,41,42,54,58
61,6,0,0,0,0,0,0,0,0,0,...,10,10,10,10,10,11,11,15,15,20
62,7,0,0,1,1,1,1,1,2,2,...,30,30,33,36,36,37,37,37,39,39
63,6,0,0,0,0,0,0,1,1,2,...,13,13,13,13,15,15,17,22,23,25

In [12]:
data['Division'].unique()

array([2, 1, 5, 7, 3, 4, 0, 6])